#itemDetail {
    background-color: #ededed;
    margin-top: 2rem;
    padding-bottom: 2rem;
}

#itemDetail img {
    border-radius: 0.5rem;
    width: 100%;
}

.itemDetailText h5{
    font-weight: 300;
    font-size: 1.2em;
    text-transform: uppercase;
    padding: 0.5rem;
}

.itemDetailText p{
    padding: 0.5rem;
}

@media (min-width: 768px) {
    #itemDetail {
        padding-bottom: 0;
    }
}