.menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.901);
    z-index: 1;
    top: 0;
    left: 0;
    list-style: none;
    gap: 2em;
    font-size: 1.15em;
    display: none;
}

.menu a {
    color: black;
    text-decoration: none;
}

.menu a:hover {
    color: rgb(92, 88, 88);
    transition: 0.5s;
}

.open {
    display: flex;
}

.menu .active {
    border-bottom: 1.5px solid black;
}

/* ---------- Toggle Menu ------------ */

.bar {
    position: fixed;
    right: 1.2rem;
    cursor: pointer;
    width: 45px;
    height: 40px;
    z-index: 2;
}

.bar span {
    position: absolute;
    width: 45px;
    height: 7px;
    background: rgb(27, 27, 27);
    border-radius: 100px;
    display: inline-block;
    transition: 0.2s ease;
    left: 0;
}

.bar .top {
    top: 0;
}

.bar .middle {
    top: 17px;
}

.bar .bottom {
    bottom: 0;
}

span.topChecked {
    transform: rotate(45deg);
    transform-origin: top left;
    width: 48px;
    left: 5px;
}

span.bottomChecked {
    transform: rotate(-45deg);
    transform-origin: top left;
    width: 48px;
    bottom: -1px !important;
    box-shadow: 0 0 10px #495057;
}

span.middleChecked {
    transform: translateX(-20px);
    opacity: 0;
}

@media (min-width: 768px) {
    .bar {
        display: none;
    }

    .menu {
        position: relative;
        height: 100%;
        width: 60%;
        display: flex;
        flex-direction: row;
        background-color: inherit;
    }
}
