.cartWidget{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartIcon {
    width: 2.4rem;
    margin: 0.4rem;
}

.cartNumber {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    background-color: rgb(58, 58, 58);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
