.cartWidget {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.cartWidgetNavbar {
    display: flex;
    position: fixed;
    z-index: 2;
    top: 7rem;
    left: 0;
    right: 0;
}

.cartIcon {
    width: 2.4rem;
    margin: 0.4rem;
}

.cartNumber {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    background-color: rgb(58, 58, 58);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .cartWidget {
        display: flex;
    }
}
