.cartEmpty p {
    font-size: 1.5em;
}

.cartEmpty button {
    width: 6rem;
    border-radius: 0.5rem;
}

.cartImg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartImg img {
    width: 10rem;
}

.overlay {
    display: block;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
.modal__locked {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 28%;
    background: white;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}

.modal__locked h4 {
    font-size: 1.4em;
}

.modal__locked p {
    font-size: 1em;
}

.modal__locked button {
    width: 6rem;
    height: 3rem;
    font-size: 1.2em;
    border-radius: 0.5rem;
}
