#itemListCard {
    width: 16rem;
    margin: 1rem;
    color: black;
}
#itemListCard .card-body {
    color: black;
    text-align: center;
}

.itemTitle {
    font-weight: 300;
    font-size: 1.2em;
    text-transform: uppercase;
}

.itemPrice {
    font-weight: 700;
    font-size: 1em;
}
