.navBar {
    height: 10vh;
    background-color: #f5f5f5;
    border-bottom: 1px solid rgb(207, 208, 208);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.brandLogo{
    width: 8rem;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 2em;
    font-size: 1.15em;
}

.menu a{
    color: black;
    text-decoration: none;
}

.menu a:hover {
    color: black;
    border-bottom: 2px solid black;
}
