.navBar {
    height: 10vh;
    background-color: rgb(227, 238, 238);
    border-bottom: 1px solid rgb(207, 208, 208);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 2em;
    font-size: 1.15em;
}

.menu a{
    color: rgb(78, 77, 77);
    text-decoration: none;
}

.menu a:hover {
    color: black;
}
