/* ---------- Reset ------------ */

p,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    border-style: none;
}

/* ---------- App style ------------ */

#root {
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: #1f1f1f;
    overflow-x: hidden;
}

section {
    position: relative;
    top: 10vh;
}

@media (min-width: 768px) {
    section {
        top: 0;
    }
}
