* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

#root{
    font-family: 'Nunito', sans-serif;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    gap: 2em;
    font-size: 1.15em;
}

.menu li a{
    color: rgb(78, 77, 77);
}

.menu li a:hover{
    color: black;
}

.navBar {
    height: 10vh;
    background-color: rgb(227, 238, 238);
    border-bottom: 1px solid rgb(207, 208, 208);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cartWidget{
    display: flex;
    align-items: center; 
}

.cartIcon{
    width: 2rem;
    margin: 0.4rem;
}

.cartNumber{
    width: 1.2rem;
    border-radius: 50%;
    background-color: rgb(58, 58, 58);
    color: white;
    text-align: center;
}

.greeting{
    margin: 2rem;
}
