.itemCount {
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemCount button {
    background-color: rgb(255, 255, 255);
}

.itemCount button:hover {
    background-color: rgb(193, 193, 193);
    transition: .4s;
}

.btnHandleCount {
    width: 2.5rem;
    border-radius: 0.5rem;
    margin: 0.8rem;
}

.btnHandleCount p {
    font-weight: 700;
    font-size: 1.5em;
}

.numCount{
    font-size: 1.2em;
}

.btnAddToCart {
    width: 8rem;
    border-radius: 0.5rem;
    padding: 0.8rem;
}

.btnKeepBuying{
    border-radius: 0.5rem;
    margin: 0.5rem;
    padding: 0.8rem;

}

.btnGoToCart{
    border-radius: 0.5rem;
    padding: 0.8rem;

}

@media (min-width: 768px){
    .itemCount{
        justify-content: flex-start;
        padding: 0.6rem;
    }
}